<div class="navbar bg-base-100 text-white">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">Shop</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
     <label tabindex="0" class="btn btn-ghost btn-circle">
       <div class="indicator">
         <!-- ... -->
         <span class="badge badge-sm indicator-item">{{ cart.length }}</span>
       </div>
     </label>
     <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow">
       <div class="card-body">
         <span class="font-bold text-lg">{{ cart.length }} Items</span>
         <!-- ... -->
<span class="text-info">Subtotal: {{ calculateTotalPrice() }}</span>
<!-- ... -->

          <div class="card-actions">
            <button class="btn btn-primary btn-block">View cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="../../assets/images/mashrom.png" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
